<h4>Profile</h4>

<div class="card">
  <div class="card-content">
    <div class="card-title">
      <%- currentUser.name %>
    </div>
    <div class="profile-container">
      <div class="card-panel hoverable" id="profile-card">
        <a href="#modalImageUpload"><img src="<%- currentUser.image %>" class="profile-pic"><i id="editPic" class="fa fa-pencil" aria-hidden="true"></i></a>
      </div>
      <span>
        <p><strong>Home</strong></p>
        <p><%= currentUser.cityname %></p>
        <p><strong>Destinations</strong><p>
        <p>
          <% if(!user.cities||user.cities.length==0){%>
             None yet - Search then add!
          <% } else { %>
            <% user.cities.forEach(function(city, index){ %>
              <% if(index==user.cities.length-1){ %>
                <%= city.cityname %>
              <% } else{ %>
                <%= city.cityname %> |
              <% } %>
            <% }) %>
          <% }; %>
        </p>
      </span>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="card-title">
      10-day Forecasts
      cities: <%= JSON.stringify(cities) %>
      zips: <%= JSON.stringify(zips) %>
    </div>
    <div class="weather-matrix">
      <table class="bordered striped centered">
        <thead>
          <th></th>
          <% weather[zips[0]].forecast.simpleforecast.forecastday.forEach(function(item){ %>
            <th><%- item.date.weekday.slice(0,3) %></th>
          <% }); %>
        </thead>
        <tbody>
          <% zips.forEach(function(zip, index){ %>
            <tr>
              <td>
                <% if(index==0){ %>
                  <a href="/cities/details/<%= zip %>=<%= cities[index] %>"><%= cities[index] %></a><br />(home)
                <% } else{ %>
                  <a href="/cities/details/<%= zip %>=<%= cities[index] %>"><%= cities[index] %></a><br /><a href="/profile/delete/<%= zip %>"><i class="fa red-text fa-trash-o" aria-hidden="true"></i></a>
                <% } %>
              </td>
              <% weather[zip].forecast.simpleforecast.forecastday.forEach(function(item){ %>
                <td>
                  <img class="weather-icon" src="<%- item.icon_url %>" />
                  <br />
                  <%- item.high.fahrenheit %>&#8457
                  <br />
                  <%- item.low.fahrenheit %>&#8457
                </td>
              <% }); %>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="card-title">
      <%= history[zips[0]].trip.title.slice(23, history[zips[0]].trip.title.length) %><a href="#modalDatesProfile"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
    </div>
    <p class="grey-text">Historical (5-yr period average, 30-day max range)</p>
    <div class="weather-matrix">
      <table class="bordered striped centered">
        <thead>
          <th></th>
          <th>Cloud cover</th>
          <th>Low Temp Avg.</th>
          <th>High Temp Avg.</th>
          <th>Precip. Avg.</th>
          <th>Low Dewpoint Avg.</th>
          <th>High dewpoint Avg.</th>
        </thead>
        <tbody>
          <% zips.forEach(function(zip, index){ %>
            <tr>
              <td>
                <% if(index==0){ %>
                  <a href="/cities/details/<%= zip %>=<%= cities[index] %>"><%= cities[index] %></a><br />(home)
                <% } else{ %>
                  <a href="/cities/details/<%= zip %>=<%= cities[index] %>"><%= cities[index] %></a><br /><a href="/profile/delete/<%= zip %>"><i class="fa red-text fa-trash-o" aria-hidden="true"></i></a>
                <% } %>
              </td>
              <td><%= history[zip].trip.cloud_cover.cond %></td>
              <td><%= history[zip].trip.temp_low.avg.F %>&#8457</td>
              <td><%= history[zip].trip.temp_high.avg.F %>&#8457</td>
              <td><%= history[zip].trip.precip.avg.in %>in.</td>
              <td><%= history[zip].trip.dewpoint_low.avg.F %>&#8457</td>
              <td><%= history[zip].trip.dewpoint_high.avg.F %>&#8457</td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal Structure: history/travel dates change -->
<div id="modalDatesProfile" class="modal">
 <div class="modal-content">
   <form method="POST" action="/profile/history">
    <div class="form-group">
      <label for="historystart">Start (MMDD)</label>
      <input name="historystart" class="form-control" required/>
    </div>
    <div class="form-group">
      <label for="historyend">End (MMDD)</label>
      <input name="historyend" class="form-control" required/>
    </div>
    <input type="submit" class="btn blue" />
   </form>
 </div>
</div>

<!-- Modal Structure: image upload -->
<div id="modalImageUpload" class="modal">
  <div class="modal-content">
    <form enctype="multipart/form-data" action="/profile/picture" method="POST">
      <div class="file-field input-field">
        <div class="btn grey darken-1">
          <span>Image</span>
          <input type="file" name="profilePic" />
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" />
        </div>
      </div>
      <br />
      <hr />
      <input type="submit" class="btn blue"/>
    </form>
  </div>
</div>
