<h2>Profile</h2>

<div class="well">
  <h2><%- currentUser.name %></h2>
  <hr />
  <div class="profile-container">
    <img src="<%- currentUser.image %>" class="profile-pic">
    <span>
      <p><strong>Home ZIP</strong></p>
      <p><%= currentUser.zip %></p>
      <p><strong>Destination ZIPs</strong><p>
      <p>
        <% user.cities.forEach(function(city){ %> <%= city.zip %> <% }) %>
        <% if(user.cities.length==0){%> None added <% }; %>
      </p>
    </span>
  </div>
</div>


<table class="table table-striped table-bordered">
  <thead>
    <th>Zip</th>
    <% weather[zips[0]].forecast.simpleforecast.forecastday.forEach(function(item){ %>
      <th><%- item.date.weekday.slice(0,3) %></th>
    <% }); %>
  </thead>
  <% zips.forEach(function(zip, index){ %>
    <tr>
      <td>
        <% if(index==0){ %>
          <%= zip %> (home)
        <% } else{ %>
          <%= zip %>
        <% } %>
      </td>
      <% weather[zip].forecast.simpleforecast.forecastday.forEach(function(item){ %>
        <td>
          <img class="weather-icon" src="<%- item.icon_url %>" />
          <%- item.low.fahrenheit %> &#8457
          <%- item.high.fahrenheit %> &#8457
        </td>
      <% }); %>
    </tr>
  <% }); %>
</table>










<% zips.forEach(function(zip, index){ %>
  <% if(index==0){ %>
    <h2>10-day forecast for home ZIP <%= zip %></h2>
  <% } else{ %>
    <h2>10-day forecast for destination ZIP <%= zip %></h2>
  <% } %>

  <h4>Text forecast <%= zip %></h4>

  <table class="table table-striped table-bordered">
    <% weather[zip].forecast.txt_forecast.forecastday.forEach(function(item){ %>
      <tr>
        <td><%- item.title %></td>
        <td><span class="text-right"><img class="weather-icon" src="<%- item.icon_url %>" /></span></td>
        <td><%- item.fcttext %></td>
      </tr>
    <% }); %>
  </table>

  <h4>Numerical forecast <%= zip %></h4>

  <table class="table table-striped table-bordered">
    <thead>
      <th></th>
      <th></th>
      <th>High</th>
      <th>Low</th>
      <th>Cond.</th>
    </thead>
    <% weather[zip].forecast.simpleforecast.forecastday.forEach(function(item){ %>
      <tr>
        <td><%- item.date.weekday.slice(0,3) %>, <%- item.date.month %>-<%- item.date.day %></td>
        <td><span class="text-right"><img class="weather-icon" src="<%- item.icon_url %>" /></span></td>
        <td><%- item.low.fahrenheit %> &#8457</td>
        <td><%- item.high.fahrenheit %> &#8457</td>
        <td><%- item.conditions %></td>
      </tr>
    <% }); %>
  </table>

  <% if(zips.length===1){ %>
    <hr />
    <h3>No destinations added - search and add new destinations to compare to home</h3>
  <% } %>

<% }); %>
