<h1>Profile</h1>
<p>This will display your current or home city and the cities you've added to your profile.</p>

<h4>10-day forecast for home ZIP <%= zip %></h4>

<% weather.forecast.txt_forecast.forecastday.forEach(function(item){ %>
  <div class="well">
    <h4><%- item.title %> <span class="text-right"><img src="<%- item.icon_url %>" /></span></h4>
    <p><%- item.fcttext %></p>
  </div>
<% }); %>

<h4>10-day forecast numerical</h4>

<% weather.forecast.simpleforecast.forecastday.forEach(function(item){ %>
  <div class="well">
    <h4><%- item.date.weekday %>, <%- item.date.month %>-<%- item.date.day %> <span class="text-right"><img src="<%- item.icon_url %>" /></span></h4>
    <p>High: <%- item.high.fahrenheit %> &#8457</p>
    <p>Low: <%- item.low.fahrenheit %> &#8457</p>
    <p>Conditions: <%- item.conditions %></p>
  </div>
<% }); %>
