<h2>Profile</h2>

<div class="well">
  <h2><%- currentUser.name %></h2>
  <div class="profile-container">
    <img src="<%- currentUser.image %>" class="profile-pic">
    <span>
      <p><strong>Home ZIP</strong></p>
      <p><%= currentUser.zip %></p>
      <p><strong>Destination ZIPs</strong><p>
      <p>
        <% user.cities.forEach(function(city){ %> <%= city.zip %> <% }) %>
        <% if(user.cities.length==0){%> None added <% }; %>
      </p>
    </span>
  </div>
</div>

<h4>10-day Home and Destination Forecasts</h4>

<div class="weather-matrix">
  <table class="table table-striped table-bordered">
    <thead>
      <th></th>
      <% weather[zips[0]].forecast.simpleforecast.forecastday.forEach(function(item){ %>
        <th><%- item.date.weekday.slice(0,3) %></th>
      <% }); %>
    </thead>
    <% zips.forEach(function(zip, index){ %>
      <tr>
        <td>
          <% if(index==0){ %>
            <%= zip %><br />(home)
          <% } else{ %>
            <%= zip %>
          <% } %>
        </td>
        <% weather[zip].forecast.simpleforecast.forecastday.forEach(function(item){ %>
          <td>
            <img class="weather-icon" src="<%- item.icon_url %>" />
            <br />
            <%- item.low.fahrenheit %>&#8457
            <br />
            <%- item.high.fahrenheit %>&#8457
          </td>
        <% }); %>
      </tr>
    <% }); %>
  </table>
</div>

<h4><%= history[zips[0]].trip.title %></h4>

<div class="weather-matrix">
  <table class="table table-striped table-bordered">
    <thead>
      <th></th>
      <th>Cloud cover</th>
      <th>Low Temp Avg.</th>
      <th>High Temp Avg.</th>
      <th>Precip. Avg.</th>
      <th>Low Dewpoint Avg.</th>
      <th>High dewpoint Avg.</th>
    </thead>
    <% zips.forEach(function(zip, index){ %>
      <tr>
        <td>
          <% if(index==0){ %>
            <%= zip %><br />(home)
          <% } else{ %>
            <%= zip %>
          <% } %>
        </td>
        <td><%= history[zip].trip.cloud_cover.cond %></td>
        <td><%= history[zip].trip.temp_low.avg.F %>&#8457</td>
        <td><%= history[zip].trip.temp_high.avg.F %>&#8457</td>
        <td><%= history[zip].trip.precip.avg.in %>in.</td>
        <td><%= history[zip].trip.dewpoint_low.avg.F %>&#8457</td>
        <td><%= history[zip].trip.dewpoint_high.avg.F %>&#8457</td>
      </tr>
    <% }); %>
  </table>
</div>
