<div class="card">
  <div class="card-content">
    <div class="card-title">
      <%- currentUser.name %>
    </div>
    <div class="profile-container">
      <div class="card-panel hoverable" id="profile-card">
        <a href="#modalImageUpload"><img src="<%- currentUser.image %>" class="profile-pic"><i id="editPic" class="fa fa-pencil blue-text" aria-hidden="true"></i></a>
      </div>
      <span>
        <p><strong>Home</strong></p>
        <p><%= currentUser.cityname %> <a href="/"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
        <p><strong>Destinations</strong><p>
        <p>
          <% if(!user.cities||user.cities.length==0){%>
             None yet - Search then add!
          <% } else { %>
            <% user.cities.forEach(function(city, index){ %>
              <% if(index==user.cities.length-1){ %>
                <%= city.cityname %>
              <% } else{ %>
                <%= city.cityname %> |
              <% } %>
            <% }) %>
          <% }; %>
          <a href="/" class="orange-text"><i class="fa fa-plus orange-text" aria-hidden="true"></i></a>
        </p>
      </span>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="card-title">
      10-day Forecast
    </div>
    <div class="weather-matrix">
      <table class="bordered striped centered">
        <thead>
          <th></th>
          <% weather[zips[0]].forecast.simpleforecast.forecastday.forEach(function(item){ %>
            <th><%- item.date.weekday.slice(0,3) %></th>
          <% }); %>
        </thead>
        <tbody>
          <% zips.forEach(function(zip, index){ %>
            <tr>
              <td>
                <% if(index==0){ %>
                  <a href="/cities/details/<%= zip %>=<%= cities[index] %>"><%= cities[index] %></a><br />(home)
                <% } else{ %>
                  <a href="/cities/details/<%= zip %>=<%= cities[index] %>"><%= cities[index] %></a><br /><a href="/profile/delete/<%= zip %>"><i class="fa red-text fa-trash-o" aria-hidden="true"></i></a>
                <% } %>
              </td>
              <% weather[zip].forecast.simpleforecast.forecastday.forEach(function(item){ %>
                <td>
                  <img class="weather-icon" src="<%- item.icon_url %>" />
                  <br />
                  <%- item.high.fahrenheit %>&#8457
                  <br />
                  <%- item.low.fahrenheit %>&#8457
                </td>
              <% }); %>
            </tr>
          <% }); %>
          <tr>
            <td><a href="/" class="orange-text">Add Destination<br /><i class="fa fa-plus orange-text" aria-hidden="true"></i></a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="card-title">
      Historical Weather
    </div>
    <p><%= history[zips[0]].trip.period_of_record.date_start.date.monthname %> <%= history[zips[0]].trip.period_of_record.date_start.date.day %> - <%= history[zips[0]].trip.period_of_record.date_end.date.monthname %> <%= history[zips[0]].trip.period_of_record.date_end.date.day %><a href="#modalDatesProfile"> <i class="fa fa-pencil" aria-hidden="true"></i></a></p>
    <p class="grey-text">5-yr period average, 30-day max range</p>
    <br />
    <div class="weather-matrix">
      <table class="bordered striped centered">
        <thead>
          <th></th>
          <th>Cloud cover</th>
          <th>Low Temp<br />Avg.</th>
          <th>High Temp<br />Avg.</th>
          <th>Precip.<br />Avg.</th>
          <th>Low Dewpoint<br />Avg.</th>
          <th>High dewpoint<br />Avg.</th>
        </thead>
        <tbody>
          <% zips.forEach(function(zip, index){ %>
            <tr>
              <td>
                <% if(index==0){ %>
                  <a href="/cities/details/<%= zip %>=<%= cities[index] %>"><%= cities[index] %></a><br />(home)
                <% } else{ %>
                  <a href="/cities/details/<%= zip %>=<%= cities[index] %>"><%= cities[index] %></a><br /><a href="/profile/delete/<%= zip %>"><i class="fa red-text fa-trash-o" aria-hidden="true"></i></a>
                <% } %>
              </td>
              <td><%= history[zip].trip.cloud_cover.cond %></td>
              <td><%= history[zip].trip.temp_low.avg.F %>&#8457</td>
              <td><%= history[zip].trip.temp_high.avg.F %>&#8457</td>
              <td><%= history[zip].trip.precip.avg.in %>in.</td>
              <td><%= history[zip].trip.dewpoint_low.avg.F %>&#8457</td>
              <td><%= history[zip].trip.dewpoint_high.avg.F %>&#8457</td>
            </tr>
          <% }); %>
          <tr>
            <td><a href="/" class="orange-text">Add Destination<br /><i class="fa fa-plus orange-text" aria-hidden="true"></i></a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal Structure: history/travel dates change -->
<div id="modalDatesProfile" class="modal">
 <div class="modal-content">
   <form method="POST" action="/profile/history">
    <div class="form-group">
      <label for="historystart">Travel/Historical Start (MMDD)</label>
      <input name="historystart" class="form-control" placeholder="0928 = September 28" required/>
    </div>
    <div class="form-group">
      <label for="historyend">Travel/Historical End (MMDD)</label>
      <input name="historyend" class="form-control" placeholder="1014 = October 14" required/>
    </div>
    <input type="submit" class="btn blue" />
   </form>
 </div>
</div>

<!-- Modal Structure: image upload -->
<div id="modalImageUpload" class="modal">
  <div class="modal-content">
    <form enctype="multipart/form-data" action="/profile/picture" method="POST">
      <div class="file-field input-field">
        <div class="btn grey darken-1">
          <span>Image</span>
          <input type="file" name="profilePic" />
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" />
        </div>
      </div>
      <br />
      <hr />
      <input type="submit" class="btn blue"/>
    </form>
  </div>
</div>
