<h2>Profile</h2>

<div class="well">
  <h2><%- currentUser.name %></h2>
  <hr />
  <div class="profile-container">
    <img src="<%- currentUser.image %>" class="profile-pic">
    <span>
      <p><strong>Home ZIP</strong></p>
      <p><%= currentUser.zip %></p>
      <p><strong>Destination ZIPs</strong><p>
      <p>
        <% user.cities.forEach(function(city){ %> <%= city.zip %> <% }) %>
        <% if(user.cities.length==0){%> None added <% }; %>
      </p>
    </span>
  </div>
</div>


<% zips.forEach(function(zip, index){ %>
  <% if(index==0){ %>
    <h2>10-day forecast for home ZIP <%= zip %></h2>
  <% } else{ %>
    <h2>10-day forecast for destination ZIP <%= zip %></h2>
  <% } %>

  <h4>Text forecast <%= zip %></h4>

  <% weather[zip].forecast.txt_forecast.forecastday.forEach(function(item){ %>
    <div class="well">
      <h4><%- item.title %> <span class="text-right"><img src="<%- item.icon_url %>" /></span></h4>
      <p><%- item.fcttext %></p>
    </div>
  <% }); %>

  <h4>Numerical forecast</h4>

  <% weather[zip].forecast.simpleforecast.forecastday.forEach(function(item){ %>
    <div class="well">
      <h4><%- item.date.weekday %>, <%- item.date.month %>-<%- item.date.day %> <span class="text-right"><img src="<%- item.icon_url %>" /></span></h4>
      <p>High: <%- item.high.fahrenheit %> &#8457</p>
      <p>Low: <%- item.low.fahrenheit %> &#8457</p>
      <p>Conditions: <%- item.conditions %></p>
    </div>
  <% }); %>

  <% if(zips.length===1){ %>
    <hr />
    <h3>No destinations added - search and add new destinations to compare to home</h3>
  <% } %>

<% }); %>
