<h2>Settings</h2>

<div class="well">

  <form method="POST" action="/profile/settings" id="update-user">

    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" class="form-control" value="<%= user.name %>" required />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" class="form-control" type="email" value="<%= user.email %>" required />
    </div>
    <div class="form-group">
      <label for="zip">Home ZIP Code</label>
      <input name="zip" class="form-control" value="<%= user.zip %>" type="number" required />
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input name="age" class="form-control" type="number" value="<%= user.age %>" />
    </div>
    <div class="form-group">
      <label for="image">Profile Image URL</label>
      <input name="image" class="form-control"  value="<%= user.image %>" />
    </div>
    <div class="form-group">
      <label for="historystart">Historical Start (MMDD)</label>
      <input name="historystart" class="form-control" type="number" value="<%= user.historystart %>" />
    </div>
    <div class="form-group">
      <label for="historyend">Historical End (MMDD)</label>
      <input name="historyend" class="form-control"  value="<%= user.historyend %>" />
    </div>

    <input type="submit" class="btn btn-success" />

  </form>

</div>
