<div class="navbar-fixed" id="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="/" class="brand-logo orange-text">Travel Easy</span></a>
      <a href="#" data-activates="side-nav" class="button-collapse"><i class="fa fa-bars fa-2x"></i></a>
      <ul class="right hide-on-med-and-down top-bar">
        <% if(!currentUser){ %>
          <li><a href="/flights"><i class="fa fa-plane fa-2x" aria-hidden="true"></i> Flights</a></li>
          <li><a href="/auth/signup"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i> Sign up</a></li>
          <li><a href="/auth/login"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i> Log in</a></li>
        <% } else{ %>
          <li><a href="/flights"><i class="fa fa-plane fa-2x" aria-hidden="true"></i> Flights</a></li>
          <li><a href="/profile"><i class="fa fa-user fa-2x" aria-hidden="true"></i> <% if(!currentUser.name){ %> <%= currentUser.email %> <% }else{ %> <%= currentUser.name %> <% } %></span></a></li>
          <!-- Modal Trigger -->
          <li><a href="#modalSettings"><i class="fa fa-cog fa-2x" aria-hidden="true"></i> Settings</a></li>
          <li><a href="/auth/logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i> Log out</a></li>
        <% } %>
      </ul>

      <ul class="side-nav" id="side-nav">
        <% if(!currentUser){ %>
          <li><a href="/flights"><i class="fa fa-plane fa-2x" aria-hidden="true"></i> Flights</a></li>
          <li><a href="/auth/signup"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i> Sign up</a></li>
          <li><a href="/auth/login"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i> Log in</a></li>
        <% } else{ %>
          <li><a href="/flights"><i class="fa fa-plane fa-2x" aria-hidden="true"></i> Flights</a></li>
          <li><a href="/profile"><i class="fa fa-user fa-2x" aria-hidden="true"></i> <% if(!currentUser.name){ %> <%= currentUser.email %> <% }else{ %> <%= currentUser.name %> <% } %></span></a></li>
          <!-- Modal Trigger -->
          <li><a href="#modalSettings"><i class="fa fa-cog fa-2x" aria-hidden="true"></i> Settings</a></li>
          <li><a href="/auth/logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i> Log out</a></li>
        <% } %>
      </ul>

    </div>
    <div class="nav-wrapper grey">
      <form method="GET" action="/cities">
        <div class="input-field">
          <input id="search" type="search" name="search" placeholder="Search cities" required>
          <label id="search-label" for="search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></label>
        </div>
      </form>
    </div>
  </nav>
</div>

<% if(!currentUser){ %>

<% } else{ %>


  <!-- Settings Modal Structure -->
  <div id="modalSettings" class="modal">
   <div class="modal-content">
     <form method="POST" action="/profile/settings" id="update-currentUser">

       <div class="form-group">
         <label for="name">Name</label>
         <input name="name" class="form-control" value="<%= currentUser.name %>" required />
       </div>
       <div class="form-group">
         <label for="email">Email</label>
         <input name="email" class="form-control" type="email" value="<%= currentUser.email %>" required />
       </div>
       <div class="form-group">
         <label for="age">Age</label>
         <input name="age" class="form-control" type="number" value="<%= currentUser.age %>" />
       </div>
       <div class="form-group">
         <label for="image">Profile Image URL</label>
         <input name="image" class="form-control"  value="<%= currentUser.image %>" />
       </div>
       <div class="form-group">
         <label for="historystart">Travel/Historical Start (MMDD)</label>
         <input name="historystart" class="form-control" type="number" placeholder="0928 = September 28" value="<%= currentUser.historystart %>" />
       </div>
       <div class="form-group">
         <label for="historyend">Travel/Historical End (MMDD)</label>
         <input name="historyend" class="form-control"  placeholder="1014 = October 14" value="<%= currentUser.historyend %>" />
       </div>

       <input type="submit" class="btn btn-success blue" />

     </form>
   </div>
  </div>
<% }; %>
