<% include ../partials/search %>

<hr />

<h2><%= name %></h2>

<div class="well">
  <p>City: <%= details.current_observation.display_location.city %></p>
  <p>State: <%= details.current_observation.display_location.state %></p>
  <p>State Name: <%= details.current_observation.display_location.state_name %></p>
  <p>Country: <%= details.current_observation.display_location.country %></p>
  <p>Timezone: <%= details.current_observation.local_tz_short %></p>
</div>
