<button class="btn btn-default btn-xs back-button grey lignten-2 black-text"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>

<br />
<br />

<div class="card grey lighten-4">
  <div class="card-content">
    <div class="card-title">
      <%= name %>
    </div>
    <p><strong>City:</strong> <%= details.current_observation.display_location.city %></p>
    <p><strong>State:</strong> <%= details.current_observation.display_location.state %></p>
    <p><strong>Country:</strong> <%= details.current_observation.display_location.country_iso3166 %></p>
    <p><strong>Timezone:</strong> <%= details.current_observation.local_tz_short %></p>
    <p><strong>Latitude:</strong> <%= details.current_observation.display_location.latitude %></p>
    <p><strong>Longitude:</strong> <%= details.current_observation.display_location.longitude %></p>
    <br />
    <div class="card-action">
      <% if(!currentUser){ %>
        <a href="/profile/home/<%- zip %>=<%- name %>" class="tooltipped grey-text" data-position="bottom" data-delay="20" data-tooltip="Member feature"> <i class="fa fa-lock" aria-hidden="true"></i> Make Home</a>
        <a href="/profile/<%- zip %>=<%- name %>" class="tooltipped grey-text" data-position="bottom" data-delay="20" data-tooltip="Member feature"> <i class="fa fa-lock" aria-hidden="true"></i> Add Destination</a>
      <% } else{ %>
        <a href="/profile/home/<%- zip %>=<%- name %>"> <i class="fa fa-plus" aria-hidden="true"></i> Make Home</a>
        <a href="/profile/<%- zip %>=<%- name %>"> <i class="fa fa-plus" aria-hidden="true"></i> Add Destination</a>
      <% }; %>
      <a href="/cities/details/<%- zip %>=<%- name %>" name="<%- name %>" class="blue-text"> <i class="fa fa-info" aria-hidden="true"></i> Details</a>
      <a href="/cities/forecast/<%- zip %>=<%- name %>" name="<%- name %>" class="blue-text"> <i class="fa fa-sun-o" aria-hidden="true"></i> Forecast</a>
      <a href="/cities/historical/<%- zip %>=<%- name %>" name="<%- name %>" class="blue-text"> <i class="fa fa-history" aria-hidden="true"></i> Historical</a>
    </div>
  </div>
</div>

<button class="btn btn-default btn-xs back-button grey lignten-2 black-text"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
