<h1>Search</h1>

<form method="POST" action="/cities/search">
  <div class="form-group">
    <label for="city-search">Search for city</label>
    <input class="form-control" name="search"/>
  </div>
  <button type="submit" class="btn btn-success">Search</button>

</form>

<hr />

<h3><%= name %></h3>

<h4>Details</h4>

<div class="well">
  <p>City: <%= details.current_observation.display_location.city %></p>
  <p>State: <%= details.current_observation.display_location.state %></p>
  <p>State Name: <%= details.current_observation.display_location.state_name %></p>
  <p>Country: <%= details.current_observation.display_location.country %></p>
  <p>Timezone: <%= details.current_observation.local_tz_short %></p>
</div>
