<% include ../partials/search %>

<button class="btn btn-default btn-xs back-button grey lignten-2 black-text"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>

<br />
<br />

<div class="card">
  <div class="card-content">
    <div class="card-title">
      <%= name %>
    </div>
    <div class="card-action">
      <a href="/profile/home/<%- zip %>=<%- name %>" class="blue-text"> <i class="fa fa-plus" aria-hidden="true"></i> Make Home</a>
      <a href="/profile/<%- zip %>=<%- name %>" class="blue-text"> <i class="fa fa-plus" aria-hidden="true"></i> Add Destination</a>
      <a href="/cities/details/<%- zip %>=<%- name %>" name="<%- name %>" class=""> <i class="fa fa-info" aria-hidden="true"></i> Details</a>
      <a href="/cities/forecast/<%- zip %>=<%- name %>" name="<%- name %>" class=""> <i class="fa fa-sun-o" aria-hidden="true"></i> Forecast</a>
      <a href="/cities/historical/<%- zip %>=<%- name %>" name="<%- name %>" class=""> <i class="fa fa-history" aria-hidden="true"></i> Historical</a>
    </div>
  </div>
</div>

<div class="card">

  <div class="card-content">
    <div class="card-title">
      10-day forecast
    </div>
    <div class="weather-matrix">
      <table class="striped bordered centered">
        <thead>
          <th>Day</th>
          <th>Cond.</th>
          <th>Low</th>
          <th>High</th>
        </thead>
        <% weather.forecast.simpleforecast.forecastday.forEach(function(item){ %>
          <tr>
            <td><%= item.date.weekday.slice(0,3) %></td>
            <td><img class="weather-icon" src="<%- item.icon_url %>" /></td>
            <td><%= item.low.fahrenheit %>&#8457</td>
            <td><%= item.high.fahrenheit %>&#8457</td>
          </tr>
        <% }); %>
      </table>
    </div>
  </div>
</div>


<button class="btn btn-default btn-xs back-button grey lignten-2 black-text"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
