<% include ../partials/search %>

<hr />

<button class="btn btn-default btn-xs back-button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>

<h3><%= name %></h3>

<h4>10-day forecast</h4>

<div class="weather-matrix">
  <table class="table table-striped table-bordered">
    <thead>
      <th>Day</th>
      <th>Cond.</th>
      <th>Low</th>
      <th>High</th>
    </thead>
    <% weather.forecast.simpleforecast.forecastday.forEach(function(item){ %>
      <tr>
        <td><%= item.date.weekday.slice(0,3) %></td>
        <td><img class="weather-icon" src="<%- item.icon_url %>" /></td>
        <td><%= item.low.fahrenheit %>&#8457</td>
        <td><%= item.high.fahrenheit %>&#8457</td>
      </tr>
    <% }); %>
  </table>
</div>

<button class="btn btn-default btn-xs back-button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
