<button class="btn btn-default btn-xs back-button grey lignten-2 black-text"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
<br />
<br />

<div class="card">
  <div class="card-content">
    <div class="card-title">
      <%= name %>
    </div>
    <p>Cloud cover: <%- weather.trip.cloud_cover.cond %></p>
    <br />
    <div class="card-action">
      <a href="/cities/forecast/<%- zip %>=<%- name %>" name="<%- name %>" class="blue-text"> <i class="fa fa-sun-o" aria-hidden="true"></i> Forecast</a>
      <a href="/cities/details/<%- zip %>=<%- name %>" name="<%- name %>" class="blue-text"> <i class="fa fa-info" aria-hidden="true"></i> Details</a>
      <% if(!currentUser){ %>
        <a href="/auth/login" class="tooltipped grey-text" data-position="bottom" data-delay="20" data-tooltip="Log in to access"> <i class="fa fa-lock" aria-hidden="true"></i> Add Destination</a>
        <a href="/auth/login" class="tooltipped grey-text" data-position="bottom" data-delay="20" data-tooltip="Log in to access"> <i class="fa fa-lock" aria-hidden="true"></i> Make Home</a>
      <% } else{ %>
        <a href="/profile/<%- zip %>=<%- name %>"> <i class="fa fa-plus" aria-hidden="true"></i> Add Destination</a>
        <a href="/profile/home/<%- zip %>=<%- name %>"> <i class="fa fa-plus" aria-hidden="true"></i> Make Home</a>
      <% }; %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="card-title">
      Historical Temp, Precip, and Dewpoint
    </div>
    <p>
      <%= weather.trip.title.split(" for ")[1] %>
      <a href="#modalDatesHistorical"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
    </p>
    <p class="grey-text">5-yr period average, 30-day max range</p>
    <br />
    <table class="striped bordered centered">
      <thead>
        <tr>
          <th></th>
          <th>Min</th>
          <th>Avg</th>
          <th>High</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Temp High</th>
          <td><%- weather.trip.temp_high.min.F %>&#8457</td>
          <td><%- weather.trip.temp_high.avg.F %>&#8457</td>
          <td><%- weather.trip.temp_high.max.F %>&#8457</td>
        </tr>
        <tr>
          <th>Temp Avg</th>
          <td><%- ((parseInt(weather.trip.temp_high.min.F) + parseInt(weather.trip.temp_low.min.F))/2).toFixed(0) %>&#8457</td>
          <td><%- ((parseInt(weather.trip.temp_high.avg.F) + parseInt(weather.trip.temp_low.avg.F))/2).toFixed(0) %>&#8457</td>
          <td><%- ((parseInt(weather.trip.temp_high.max.F) + parseInt(weather.trip.temp_low.max.F))/2).toFixed(0) %>&#8457</td>
        </tr>
        <tr>
          <th>Temp Low</th>
          <td><%- weather.trip.temp_low.min.F %>&#8457</td>
          <td><%- weather.trip.temp_low.avg.F %>&#8457</td>
          <td><%- weather.trip.temp_low.max.F %>&#8457</td>
        </tr>
        <tr>
          <th>Precip Avg</th>
          <td><%- weather.trip.precip.min.in %>in.</td>
          <td><%- weather.trip.precip.avg.in %>in.</td>
          <td><%- weather.trip.precip.max.in %>in.</td>
        </tr>
        <tr>
          <th>Dewpoint High</th>
          <td><%- weather.trip.dewpoint_high.min.F %>&#8457</td>
          <td><%- weather.trip.dewpoint_high.avg.F %>&#8457</td>
          <td><%- weather.trip.dewpoint_high.max.F %>&#8457</td>
        </tr>
        <tr>
          <th>Dewpoint Avg</th>
          <td><%- ((parseInt(weather.trip.dewpoint_high.min.F) + parseInt(weather.trip.dewpoint_low.min.F))/2).toFixed(0) %>&#8457</td>
          <td><%- ((parseInt(weather.trip.dewpoint_high.avg.F) + parseInt(weather.trip.dewpoint_low.avg.F))/2).toFixed(0) %>&#8457</td>
          <td><%- ((parseInt(weather.trip.dewpoint_high.max.F) + parseInt(weather.trip.dewpoint_low.max.F))/2).toFixed(0) %>&#8457</td>
        </tr>
        <tr>
          <th>Dewpoint Low</th>
          <td><%- weather.trip.dewpoint_low.min.F %>&#8457</td>
          <td><%- weather.trip.dewpoint_low.avg.F %>&#8457</td>
          <td><%- weather.trip.dewpoint_low.max.F %>&#8457</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="card-title">
      Historical % Chance of:
    </div>
    <p>
      <%= weather.trip.title.split(" for ")[1] %>
      <a href="#modalDatesHistorical"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
    </p>
    <p class="grey-text">5-yr period average, 30-day max range</p>
    <table class="striped bordered centered">
      <thead>
        <tr>
          <th></th>
          <th>Description</th>
          <th>% Chance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><%- weather.trip.chance_of.tempoversixty.name %></th>
          <td><%- weather.trip.chance_of.tempoversixty.description %></td>
          <td><%- weather.trip.chance_of.tempoversixty.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceofwindyday.name %></th>
          <td><%- weather.trip.chance_of.chanceofwindyday.description %></td>
          <td><%- weather.trip.chance_of.chanceofwindyday.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceofpartlycloudyday.name %></th>
          <td><%- weather.trip.chance_of.chanceofpartlycloudyday.description %></td>
          <td><%- weather.trip.chance_of.chanceofpartlycloudyday.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceofsunnycloudyday.name %></th>
          <td><%- weather.trip.chance_of.chanceofsunnycloudyday.description %></td>
          <td><%- weather.trip.chance_of.chanceofsunnycloudyday.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceofcloudyday.name %></th>
          <td><%- weather.trip.chance_of.chanceofcloudyday.description %></td>
          <td><%- weather.trip.chance_of.chanceofcloudyday.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceofhumidday.name %></th>
          <td><%- weather.trip.chance_of.chanceofhumidday.description %></td>
          <td><%- weather.trip.chance_of.chanceofhumidday.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceoffogday.name %></th>
          <td><%- weather.trip.chance_of.chanceoffogday.description %></td>
          <td><%- weather.trip.chance_of.chanceoffogday.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceofprecip.name %></th>
          <td><%- weather.trip.chance_of.chanceofprecip.description %></td>
          <td><%- weather.trip.chance_of.chanceofprecip.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceofrainday.name %></th>
          <td><%- weather.trip.chance_of.chanceofrainday.description %></td>
          <td><%- weather.trip.chance_of.chanceofrainday.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceofthunderday.name %></th>
          <td><%- weather.trip.chance_of.chanceofthunderday.description %></td>
          <td><%- weather.trip.chance_of.chanceofthunderday.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.tempoverninety.name %></th>
          <td><%- weather.trip.chance_of.tempoverninety.description %></td>
          <td><%- weather.trip.chance_of.tempoverninety.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceofsnowonground.name %></th>
          <td><%- weather.trip.chance_of.chanceofsnowonground.description %></td>
          <td><%- weather.trip.chance_of.chanceofsnowonground.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceoftornadoday.name %></th>
          <td><%- weather.trip.chance_of.chanceoftornadoday.description %></td>
          <td><%- weather.trip.chance_of.chanceoftornadoday.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceofsultryday.name %></th>
          <td><%- weather.trip.chance_of.chanceofsultryday.description %></td>
          <td><%- weather.trip.chance_of.chanceofsultryday.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.tempbelowfreezing.name %></th>
          <td><%- weather.trip.chance_of.tempbelowfreezing.description %></td>
          <td><%- weather.trip.chance_of.tempbelowfreezing.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.tempoverfreezing.name %></th>
          <td><%- weather.trip.chance_of.tempoverfreezing.description %></td>
          <td><%- weather.trip.chance_of.tempoverfreezing.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceofhailday.name %></th>
          <td><%- weather.trip.chance_of.chanceofhailday.description %></td>
          <td><%- weather.trip.chance_of.chanceofhailday.percentage %>%</td>
        </tr>
        <tr>
          <th><%- weather.trip.chance_of.chanceofsnowday.name %></th>
          <td><%- weather.trip.chance_of.chanceofsnowday.description %></td>
          <td><%- weather.trip.chance_of.chanceofsnowday.percentage %>%</td>
        </tr>

      </tbody>
    </table>
  </div>

</div>

<button class="btn btn-default btn-xs back-button grey lignten-2 black-text"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>



<!-- Modal Structure -->
<div id="modalDatesHistorical" class="modal">
 <div class="modal-content">
   <form method="POST" action="/cities/historical/<%= zip %>=<%= name %>">
    <div class="row">
      <div class="input-field col s12">
        <input value="<%- start %>" name="historystart" class="datepickerHistorical" type="text" required />
        <label class="active" for="historystart">Period Start</label>
      </div>
      <div class="input-field col s12">
        <input value="<%- end %>" name="historyend" class="datepickerHistorical" type="text" required />
        <label class="active" for="historyend">Period End</label>
      </div>
    </div>
    <input type="submit" class="btn blue" />
   </form>
 </div>
</div>
