<h1>Cities</h1>

<form method="POST" action="/cities/search">
  <div class="form-group">
    <label for="city-search">Search for city</label>
    <input class="form-control" name="search"/>
  </div>
  <button type="submit" class="btn btn-success">Search</button>

</form>

<hr />

<% if(cities.length>=1){ %>
  <% cities.forEach(function(city){ %>
    <div class="well">
      <h5><%- city.name %></h5>
      <a href="#" value="<%- city.l %>" type="submit" class="btn btn-sm btn-info">Add</a>
      <a href="/cities/forecast<%- city.l %>" value="<%- city.l %>" name="<%- city.name %>" class="btn btn-sm btn-info">Forecast</a>
      <a href="/cities/historical<%- city.l %>" value="<%- city.l %>" name="<%- city.name %>" class="btn btn-sm btn-info">Historical</a>
    </div>
  <% }); %>
<% } else { %>
  <h3>No seasrch results found.</h3>
<% }; %>
