<% include ../partials/search %>

<hr />

<% if(cities.length>=1){ %>
  <% cities.forEach(function(city){ %>
    <div class="well">
      <h5><%- city.name %></h5>
      <a href="#" value="<%- city.l %>" type="submit" class="btn btn-sm btn-info">Add</a>
      <a href="/cities/details<%- city.l %>=<%- city.name %>" value="<%- city.l %>" name="<%- city.name %>" class="btn btn-sm btn-info">Details</a>
      <a href="/cities/forecast<%- city.l %>=<%- city.name %>" value="<%- city.l %>" name="<%- city.name %>" class="btn btn-sm btn-info">Forecast</a>
      <a href="/cities/historical<%- city.l %>=<%- city.name %>" value="<%- city.l %>" name="<%- city.name %>" class="btn btn-sm btn-info">Historical Weather</a>
    </div>
  <% }); %>
<% } else { %>
  <h3>No search results found.</h3>
<% }; %>
