<% include ../partials/search %>

<hr />

<% if(cities.length>=1){ %>
  <% cities.forEach(function(city){ %>
    <div class="well">
      <h5><%- city.name %></h5>
      <a href="/profile/home/<%- city.zmw %>=<%- city.name %>" class="btn btn-xs btn-primary add-button light-blue" id="dropdown-button"> <i class="fa fa-plus" aria-hidden="true"></i> Home</a>
      <a href="/profile/<%- city.zmw %>=<%- city.name %>" class="btn btn-xs btn-primary add-button light-blue" id="dropdown-button"> <i class="fa fa-plus" aria-hidden="true"></i> Destination</a>
      <a href="/cities/details/<%- city.zmw %>=<%- city.name %>" name="<%- city.name %>" class="btn btn-xs btn-info blue-grey lighten-2" id="dropdown-button"> <i class="fa fa-info" aria-hidden="true"></i> Details</a>
      <a href="/cities/forecast/<%- city.zmw %>=<%- city.name %>" name="<%- city.name %>" class="btn btn-xs btn-info blue-grey lighten-2" id="dropdown-button"> <i class="fa fa-sun-o" aria-hidden="true"></i> Forecast</a>
      <a href="/cities/historical/<%- city.zmw %>=<%- city.name %>" name="<%- city.name %>" class="btn btn-xs btn-info blue-grey lighten-2" id="dropdown-button"> <i class="fa fa-history" aria-hidden="true"></i> Historical</a>

      <!-- Dropdown Trigger -->
      <a id="dropdown1-button" class='dropdown-button btn light-blue' href='#' data-activates='dropdown1'><i class="fa fa-bars" aria-hidden="true"></i></a>

      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content grey lighten-5'>
        <li><a class="blue-text" href="/profile/home/<%- city.zmw %>=<%- city.name %>">Add Home</a></li>
        <li><a class="blue-text" href="/profile/<%- city.zmw %>=<%- city.name %>">Add Destination</a></li>
        <li><a class="blue-text" href="/cities/details/<%- city.zmw %>=<%- city.name %>">Details</a></li>
        <li><a class="blue-text" href="/cities/forecast/<%- city.zmw %>=<%- city.name %>">Forecast</a></li>
        <li><a class="blue-text" href="/cities/historical/<%- city.zmw %>=<%- city.name %>">Historical</a></li>
      </ul>

    </div>

  <% }); %>
<% } else { %>
  <h3>No search results found.</h3>
<% }; %>
