<% if(cities.length>=1){ %>
  <% cities.forEach(function(city){ %>
    <div class="card grey lighten-4">
      <div class="card-content">

        <div class="card-title truncate">
          <%- city.name %>
        </div>
        <div class="card-action">
          <% if(!currentUser){ %>
            <a href="/profile/home/<%- city.zmw %>=<%- city.name %>" class="tooltipped grey-text" data-position="bottom" data-delay="20" data-tooltip="Member feature"> <i class="fa fa-lock" aria-hidden="true"></i> Make Home</a>
            <a href="/profile/<%- city.zmw %>=<%- city.name %>" class="tooltipped grey-text" data-position="bottom" data-delay="20" data-tooltip="Member feature"> <i class="fa fa-lock" aria-hidden="true"></i> Add Destination</a>
          <% } else{ %>
            <a href="/profile/home/<%- city.zmw %>=<%- city.name %>"> <i class="fa fa-plus" aria-hidden="true"></i> Make Home</a>
            <a href="/profile/<%- city.zmw %>=<%- city.name %>"> <i class="fa fa-plus" aria-hidden="true"></i> Add Destination</a>
          <% }; %>
          <a href="/cities/details/<%- city.zmw %>=<%- city.name %>" name="<%- city.name %>" class="blue-text"> <i class="fa fa-info" aria-hidden="true"></i> Details</a>
          <a href="/cities/forecast/<%- city.zmw %>=<%- city.name %>" name="<%- city.name %>" class="blue-text"> <i class="fa fa-sun-o" aria-hidden="true"></i> Forecast</a>
          <a href="/cities/historical/<%- city.zmw %>=<%- city.name %>" name="<%- city.name %>" class="blue-text"> <i class="fa fa-history" aria-hidden="true"></i> Historical</a>
        </div>

      </div>
    </div>

  <% }); %>
<% } else { %>
  <h3>No search results found.</h3>
<% }; %>
