<% include ../partials/search %>

<hr />

<% if(cities.length>=1){ %>
  <% cities.forEach(function(city){ %>
    <div class="well">
      <h5><%- city.name %>, <%= city.zmw.split('.')[0]%></h5>
      <a href="#" value="<%- city.l %>" type="submit" class="btn btn-xs btn-primary"> <i class="fa fa-plus" aria-hidden="true"></i> Add</a>
      <a href="/cities/details/<%- city.zmw.split('.')[0] %>=<%- city.name %>" name="<%- city.name %>" class="btn btn-xs btn-info">Details</a>
      <a href="/cities/forecast/<%- city.zmw.split('.')[0] %>=<%- city.name %>" name="<%- city.name %>" class="btn btn-xs btn-info">Forecast</a>
      <a href="/cities/historical/<%- city.zmw.split('.')[0] %>=<%- city.name %>" name="<%- city.name %>" class="btn btn-xs btn-info">Historical</a>
    </div>
  <% }); %>
<% } else { %>
  <h3>No search results found.</h3>
<% }; %>
