<% var query; %>
<% var response; %>


<div class="row">
  <h4>Search Flights</h4>
  <% if(response && response.error && response.error.message){ %>
      <h5 class="red-text">
        Sorry, API Error: <%- response.error.message %>
      </h5>
  <% } %>
</div>


<% if(query){ %>
  <div class="row">
    <form class="col s12" method="POST" action="/flights" id="flights-form">
      <div class="row">
        <div class="input-field col s6">
          <input value="<%- query.origin %>" name="origin" class="validate" id="origin_airport" type="text" data-length="3" placeholder='Try "SEA"' required />
          <label for="origin">Origin Airport</label>
        </div>
        <div class="input-field col s6">
          <input value="<%- query.destination %>" name="destination" class="validate" id="destination_airport" type="text" data-length="3" placeholder='Try "SFO"' required />
          <label for="destination">Destination Airport</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input value="<%- query.departureDate %>" name="departureDate" class="datepicker" type="date" required />
          <label for="departureDate">Departure Date</label>
        </div>
        <div class="input-field col s6">
          <input value="<%- query.returnDate %>" name="returnDate" class="datepicker" type="date" required />
          <label for="returnDate">Return Date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input value="<%- query.passengers %>" name="passengers" type="number" class="form-control" required />
          <label for="passengers">Passengers</label>
        </div>
      </div>
      <input type="submit" class="btn btn-success blue" />
    </form>
  </div>
<% }else{ %>
  <div class="row">
    <form class="col s12" method="POST" action="/flights" id="flights-form">
      <div class="row">
        <div class="input-field col s6">
          <input name="origin" class="validate" id="origin_airport" type="text" data-length="3" placeholder='Try "SEA"' required />
          <label for="origin">Origin Airport</label>
        </div>
        <div class="input-field col s6">
          <input name="destination" class="validate" id="destination_airport" type="text" data-length="3" placeholder='Try "SFO"' required />
          <label for="destination">Destination Airport</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="departureDate" class="datepicker" type="date" required />
          <label for="departureDate">Departure Date</label>
        </div>
        <div class="input-field col s6">
          <input name="returnDate" class="datepicker" type="date" required />
          <label for="returnDate">Return Date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="passengers" type="number" class="form-control" required />
          <label for="passengers">Passengers</label>
        </div>
      </div>
      <input type="submit" class="btn btn-success blue" />
    </form>
  </div>
<% } %>

<% if(response && response.trips){ %>
  <% response.trips.tripOption.forEach(function(trip){ %>
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          USD <%- trip.saleTotal.split("USD")[1] %>
        </div>
        <ul class="collection">
          <% trip.slice.forEach(function(slice){ %>
            <li>
              <ul class="collection">
                <% slice.segment.forEach(function(segment){ %>
                  <li>
                    <ul class="collection">
                      <% segment.leg.forEach(function(leg){ %>
                        <li>
                          <p>
                            <%- segment.flight.carrier %><%- segment.flight.number %> | <%- leg.origin %> to <%- leg.destination %>
                          </p>
                          <p>
                            <%- leg.departureTime %> to <%- leg.arrivalTime %>
                          </p>
                          <p>
                            <%- leg.duration %> mins | <%- leg.mileage %> miles
                          </p>
                          <p>
                            <%- leg.operatingDisclosure %>
                          </p>
                        </li>
                      <% }) %>
                    </ul>
                  </li>
                <% }) %>
              </ul>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  <% }) %>
<% } %>
